<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Room - ClassRoomPro</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <header>
        {% load static %}
        <img src="{% static 'classroom_pro/images/ClassRoom-Pro.png' %}" alt="ClassRoomPro Logo">
        <h1>ClassRoomPro</h1>
    </header>
    <h2>Book Room - {{ room.RoomName }}</h2>
    <p>Room Name: {{ room.RoomName }}</p>
    <p>Facilities: {{ room.Facilities }}</p>
    <p>Capacity: {{ room.Capacity }}</p>
    <p>Location: {{ room.Location }}</p>
    <form method="post">
        {% csrf_token %}
        <label for="time_slot">Select Time Slot:</label>
        <select id="time_slot" name="time_slot" required>
            {% for availability in room_availabilities %}
            <option value="{{ availability.TimeSlot }}">{{ availability.TimeSlot }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Book</button>
    </form>
</body>
</html>
