<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Booking - ClassRoomPro</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <header>
        {% load static %}
        <img src="{% static 'classroom_pro/images/ClassRoom-Pro.png' %}" alt="ClassRoomPro Logo">
        <h1>ClassRoomPro</h1>
    </header>
    <h2>Manage Booking</h2>
    <ul>
        {% for booking in bookings %}
        <li>{{ booking.Date }} - Time Slot: {{ booking.TimeSlot }} | Status: {{ booking.ApprovalStatus }}
            {% if booking.ApprovalStatus == 'pending' %}
                <a href="{% url 'cancel_booking' booking.BookingID %}">Cancel</a>
                <a href="{% url 'modify_booking' booking.BookingID %}">Modify Timeslot</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
